h1 {
  text-align: center;
  color: blue
}
body 
{
  background-color: orange

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  font-family: ariel, sans-serif;
  background-color: grey;
  color: red;
}

body {
  background-color: grey;
}

h1 {
  
  font-size: 200%;
  color: red;
  text-align: center;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left:20%; 
  margin-right:auto;
}

th {
  height: 70px;
  vertical-align: top;
}

td {
  padding: 5px;
  vertical-align: bottom;
  text-align: center;
}
tr:hover {
  background-color: red;
  color: White;
  font-size: 101%;
}
